#homepage{
    margin:0;
    padding: 0;
    font-size: 20px;  
    background-color:#ffb4b1;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}

#abtme{
    margin: 0;
    padding: 0;
    font-size: 20px;  
    background-color:#ffb4b1;
    background-image: url("../images/stems.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #0f7a7e;
    font-family: 'Poiret One', cursive;
}

#callme{
    margin: 0;
    padding: 0;
    font-size: 20px;  
    background-color:#ffb4b1;
    /* background-image: url("../images/flower.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}


#workskills{
    margin: 0;
    padding: 0;
    font-size: 20px; 
    background-color:#b1fff5;
    color: #000035;
    font-family: 'Poiret One', cursive;
}

main{
    margin:10px;
    padding:10px;
}

footer{
    margin:10px;
    padding:10px;
}

@media only screen and (orientation:landscape){
#workskills{
    margin: 0;
    padding: 0;
    font-size: 20px;  
    background-color:#b1fff5;
    background-image: url("../images/cherryblossom.jpg");
    background-repeat: no-repeat;
    background-size: 7500px 5000px; 
    color: #000035;
    font-family: 'Poiret One', cursive;
}
}

/* Used a media query to change background of page to differ between a plain color in portrait since the image will be blocked, and an image in landscape */

.headers{
    font-size:50px;
    color: #5f4737;
    font-family: 'Charmonman', cursive;
} 

.navbar{
    width:1280px;
    margin:0;
    padding:0;
    background-color: #a6c48d;
    overflow: hidden;
    }
    nav ul{
        margin: 0;
        padding: 0;
    }
    nav ul li {
        margin:0;
        padding:0;
        display: inline-block;
        list-style-type: none;
    }
    
    nav > ul > li > a {
        color: #24646d;
        background-color:#c0be81;
        display: block;
        line-height: 2em;
        padding: 0.5em 0.5em;
        text-decoration: none;
    }
@media screen and (min-width:700px){
.navbar{
    width:1500px;
}
}

a:hover {
    background-color:#b17d7b;
}

/* .abtemily{
    margin:25px;
    padding:13px;
} */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

.flex-item {
    object-fit: cover;
    background: teal;
    margin: 30px;
    padding: 5px;
    width: 412.5px;
    height: 247.5px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  
@media screen and (min-width:768px){
    .flex-item {
        object-fit: cover;
        background: #270a38;
        margin: 30px;
        padding: 5px;
        width: 281.25px;
        height: 168.75px;
        margin-top: 10px;
        
        line-height: 150px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
      }
}
   

    
@media screen and (min-width:1000px){
.flex-item {
    object-fit: cover;
    background-color:#c0be81;
    margin: 30px;
    padding: 5px;
    width: 337.5px;
    height: 202.5px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
}

/* Used Media query and width view to change color of padding and increase image size on increasingly smaller screens so that the photos appear largest and as single unique elements on phones as opposed to conveying the gallery meaning on large screens. */

.imgsize{
    width:480px;
    height:500px;
}

@media screen and (min-width:768px){
.grid{
    display:grid;
    margin:25px;
    padding:13px;
    font-size: 25px;
    grid-template-columns:1fr 1fr; 
    grid-template-rows:1fr;
    grid-row-gap: 75px;
    grid-column-gap: 50px;
    grid-template-areas:
    "one two"
}
}


@media screen and (min-width:768px){
    .imggrid{
        display:grid;
        margin:25px;
        padding:13px;
        grid-template-columns:1fr 1fr 1fr; 
        grid-template-rows:1fr;
        grid-row-gap: 75px;
        grid-column-gap: 50px;
        justify-items: center;
        align-items: center;
        grid-template-areas:
        "nine seven eight"
    }
}

@media screen and (min-width:1000px){
    .imggrid{
        display:grid;
        margin:25px;
        padding:13px;
        grid-template-columns:1fr 1fr 1fr; 
        grid-template-rows:1fr;
        grid-row-gap: 100px;
        grid-column-gap: 50px;
        justify-items: center;
        align-items: center;
        grid-template-areas:
        "nine seven eight"
    }
}

@media screen and (min-width:768px){
    .grid2{
        display:grid;
        margin:25px;
        padding:13px;
        grid-template-columns:1fr 1fr; 
        grid-template-rows:1fr 1fr;
        grid-row-gap:75px;
        grid-column-gap: 50px;
        grid-template-areas:
        "three four"
        "five six"  
    }
}

/* 768 px selected because on tablets and phones I want one column to be viewed-(layout of page is one column) but on larger laptop and desktop screens I want the full layout verison viewable.  */

.one{
    grid-area:one;
}

.two{
    grid-area:two;
    font-size: 30px;
    color:rgb(10, 77, 77);
    font-family: 'Oswald', sans-serif;
}

.three{
    grid-area:three;
}

.four{
    grid-area:four;
}
.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}


.profilepic{
    width:350px;
    height:539px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.endpic{
    width:625px;
    height:763px;
}

.navsub{
    margin: 30px;
    padding: 0;
}

@media screen and (min-width:768px){
.dirg{
    display:grid;
    margin:25px;
    padding:13px;
    grid-template-columns:1fr 1fr; 
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
    grid-row-gap: 75px;
    grid-column-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    /* "eee eee" */
    "ed2 ed3"
    /* "emp emp" */
    "law2 law3"
    /* "muse muse" */
    "muse2 muse3"
    /* "libarch libarch" */
    "libarch2 libarch3"
    /* "volunt volunt" */
    "volunt2 volunt3"
    "extra cv"
    }
}

/* .eee{
    grid-area: eee;
} */

.ed2{
    grid-area: ed2;
}

.ed3{
    grid-area: ed3;
}

/* .emp{
    grid-area: emp;
} */

.law2{
    grid-area: law2;
}

.law3{
    grid-area: law3;
}

/* .muse{
    grid-area: muse;
} */

.muse2{
    grid-area: muse2;
}

.muse3{
    grid-area: muse3;
}
/* .libarch{
    grid-area: libarch;
} */

.libarch2{
    grid-area: libarch2;
}

.libarch3{
    grid-area: libarch3;
}

/* .volunt{
    grid-area: volunt;
} */

.volunt2{
    grid-area: volunt2;
}

.volunt3{
    grid-area: volunt3;
}

.extra{
    grid-area: extra;
}

.cv{
    grid-area: cv;
}

.enbolded{
    font-family: 'Lora', serif;
    font-weight: bold;
}

.eeetitle{
    margin: 25px;
    padding:13px;
    font-size:30px;
    color: #22927a;
    font-family: 'Poiret One', cursive;
}

.lightgallery{
	width: 90%;
	/* border: 2px solid black; */
	margin:0 auto;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.lightgallery img{
    width: 100%;
}

.mybutton {
	-moz-box-shadow: 0px 0px 0px 2px #c0be81;
	-webkit-box-shadow: 0px 0px 0px 2px #c0be81;
	box-shadow: 0px 0px 0px 2px #c0be81;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a6c48d), color-stop(1, #a6c48d));
	background:-moz-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:-webkit-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:-o-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:-ms-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:linear-gradient(to bottom, #a6c48d 5%, #a6c48d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6c48d', endColorstr='#a6c48d',GradientType=0);
	background-color:#a6c48d;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #c0be81;
	display:inline-block;
	cursor:pointer;
	color:#24646d;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #24646d;
}
.mybutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a6c48d), color-stop(1, #a6c48d));
	background:-moz-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:-webkit-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:-o-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:-ms-linear-gradient(top, #a6c48d 5%, #a6c48d 100%);
	background:linear-gradient(to bottom, #a6c48d 5%, #a6c48d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6c48d', endColorstr='#a6c48d',GradientType=0);
	background-color:#a6c48d;
}
.mybutton:active {
	position:relative;
	top:1px;
}

.control{
	-moz-box-shadow: 3px 4px 0px 0px #24646d;
	-webkit-box-shadow: 3px 4px 0px 0px #24646d;
	box-shadow: 3px 4px 0px 0px #24646d;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b17d7b), color-stop(1, #b17d7b));
	background:-moz-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:-webkit-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:-o-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:-ms-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:linear-gradient(to bottom, #b17d7b 5%, #b17d7b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b17d7b', endColorstr='#b17d7b',GradientType=0);
	background-color:#b17d7b;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #24646d;
	display:inline-block;
	cursor:pointer;
	color:#0e1036;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0e1036;
}
.control:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b17d7b), color-stop(1, #b17d7b));
	background:-moz-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:-webkit-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:-o-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:-ms-linear-gradient(top, #b17d7b 5%, #b17d7b 100%);
	background:linear-gradient(to bottom, #b17d7b 5%, #b17d7b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b17d7b', endColorstr='#b17d7b',GradientType=0);
	background-color:#b17d7b;
}
.control:active {
	position:relative;
	top:1px;
}

@media screen and (min-width:500px){
    .link-btn{
        color:#0f7a7e;
        padding: 10px 20px;
        display: block;
        margin: 10px 0;
        text-align: center;
        position: fixed;
        right: 0;
        top: 0;
        display: none;
}

    .link-btn:hover{
        background: #6ab5b8;
    }
}

@media screen and (min-width:750px){
    .link-btn{
        color:#0f7a7e;
        padding: 10px 20px;
        display: block;
        margin: 10px 0;
        text-align: center;
        position: fixed;
        right: 0;
        top: 0;
    }
    
    .link-btn:hover{
        background: #6ab5b8;
    }
}